<section class="cards__container">
   <section>
      <h2>Cards for scissors</h2>
      <div class="card-items__container">
         <div class="card-item">
            <p class="card-item__message">gfdgdfg</p>
            <ul class="card-item__controls">
               <li>
                  <p>0 💕</p>
               </li>
               <li>
                  <p>+1</p>
               </li>
               <li>
                  <p class="card-item__delete">Delete</p>
               </li>
            </ul>
         </div>
      </div>
   </section>
   <section class="new-card-form__container">
      <h2>Create a New Card</h2>
      <form class="new-card-form__form">
         <label>Message</label><input type="text" class="invalid-form-input" value="">
         <p>Preview: </p>
         <input type="Submit" class="new-card-form__form-submit-btn" disabled="">
      </form>
   </section>
</section>