.new-board-form__form{
    -webkit-font-smoothing: antialiased;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    height: 172px;
    margin-bottom: 32px;
    margin-top: 0px;
    width: 208.328125px;
}